extends layout

block content
  h1 Contact Us
  p We’d love to hear from you! If you have any questions or need assistance, feel free to reach out to us.
  section
    h2 Get in Touch
    p Email: support@crimsonacademy.com
    p Phone: +1 (800) 123-4567
    p Address: 123 Academy St, Learning City, LC 56789
  section
    h2 Social Media
    p Follow us on our social media platforms for the latest updates and announcements:
    ul
      li 
        a(href="https://facebook.com/CrimsonAcademy") Facebook
      li 
        a(href="https://twitter.com/CrimsonAcademy") Twitter
      li 
        a(href="https://linkedin.com/company/CrimsonAcademy") LinkedIn
