//- Enroll Page
doctype html
html
  head
    title Enroll
  body
    h1 Enroll Now
    form(action="/enroll" method="post")
      label(for="name") Name:
      input(type="text" name="name" required)
      label(for="email") Email:
      input(type="email" name="email" required)
      label(for="course") Select Course:
      select(name="course")
        option(value="data-science") Data Science
        option(value="programming") Programming
      button(type="submit") Submit