extends layout

block content
  h1 Resources
  p Access a variety of free resources to help you enhance your learning experience and stay updated in your field.
  section
    h2 Blog
    p Stay informed with the latest trends and articles in education, technology, and career development. Visit our blog for more insights.
    a(href="blog") Read Our Blog
  section
    h2 Webinars
    p We host regular webinars on a variety of topics. Join our upcoming sessions to gain expert knowledge and interact with industry professionals.
    a(href="webinars") View Upcoming Webinars
  section
    h2 E-books
    p Download our free e-books and guides to help you in your learning journey.
    a(href="ebooks") Download E-books
